<!DOCTYPE html>
<html>
<head>
  <title>Cenit OAuth</title>
  <%= stylesheet_link_tag 'oauth/application', media: 'all' %>
  <%= javascript_include_tag 'oauth/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
